:root {
  --default-race-color:#ee8572;
  --marathon-color:#c9485b;
  --half-marathon-color:#e89da2;
  --ten-k-color: #35495e;
  --five-k-color: #347474;
  --five-mile-color:#63b7af;    
  --dark-text-color: #35495e;
}
body { 
  padding: 0 3%;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
header {
  border-bottom: solid 2px gray;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  color: var(--dark-text-color);  
  margin-right: auto;
}
header #logo h1 {
  display: inline;
  padding: 16px;
  margin: 0px;
  font-weight: normal;
  font-size: 2.5em;
  font-family: 'Faster One', cursive;
}
nav {

}
nav ul {

}
nav ul li {
  display:inline;
}
nav a {  
  color: var(--dark-text-color);
  text-decoration: none;
  font-weight: bold;
  padding: 16px;
}
nav a:hover {
  color: var(--default-race-color);
}
#search-form a {
  padding-left: 8px;
  color: var(--dark-text-color);
}
#search-form a:hover, #search-form a:active {
  color: var(--default-race-color);
}
main {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 61.8% 38.2%;
  padding: 24px;
  margin: 0px;
}
main h2 {
  padding: 0px;
  margin: 0px;
  color: #35495e;
}
#pace-graph-container{
  flex-basis: 50%;
  flex-grow: 1;
}
#race-table-container {
  width: auto;
  border-left: solid 1px gray;
  padding: 16px;
}
#race-table {
  font-size: 0.9em;
}
#race-table th {
  text-align: left;
  padding: 4px;
  border-bottom: solid 1px lightgray;
}
#race-table td {
  padding: 4px;
}
#pace-graph-container svg {
  width: 100%;
  height: auto;
}
#pace-graph-container circle:hover {
  r: 5;
}
.race-data {
  fill: var(--default-race-color);
}
.marathon {
  fill: var(--marathon-color);
  color: var(--marathon-color);
}
.half-marathon {
  fill: var(--half-marathon-color);
  color: var(--half-marathon-color);
}
.five-k {
  fill: var(--five-k-color);
  color: var(--five-k-color);
}
.ten-k {
  fill: var(--ten-k-color);
  color: var(--ten-k-color);
}
.five-mile {
  fill: var(--five-mile-color);
  color: var(--five-mile-color);
}
.data-label {
  font-size: 0.7em;
}

#race-type-toggle label {
  padding-right: 16px;
}


